html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Frontend Diploma
    

  body
    include header.pug
    include about.pug
    include howItWorks.pug
    include footer.pug
  