footer.footer
 .footer__top.container
    .footer__feedback.feedback
        h3.feedback__title.title Свяжитесь с нами
        ul.feedback__item-row
            li.feedback__item 
                .feedback__icon.icon-tel 
                .feedback__body 8 (800) 000 00 00
            li.feedback__item 
                .feedback__icon.icon-mail 
                .feedback__body inbox@mail.ru
            li.feedback__item 
                .feedback__icon.icon-skype 
                .feedback__body tu.train.tickets
            li.feedback__item 
                .feedback__icon.icon-mark 
                .feedback__body г. Москва ул. Московская 27-35 555 555
    .footer__subscription.subscription
        h3.subscription__title.title Подписка
        form.subscription__form.subscription-form
            label.subscription-form__lable Будьте в курсе событий
                input(type="text").subscription-form__input
            button.subscription-form__button Отправить
        h3.subscription__title.title Подписывайтесь на нас
        ul.subscription__social-networks.social-networks
            li.social-networks__item 
                a.social-networks__link.icon-ytube
            li.social-networks__item 
                a.social-networks__link.icon-linkIn
            li.social-networks__item 
                a.social-networks__link.icon-G
            li.social-networks__item 
                a.social-networks__link.icon-facebook
            li.social-networks__item 
                a.social-networks__link.icon-twitter
 .footer__strip
 .footer__bottom.container
    .logo
    .arrow-up 
    .footer__text
