section.howItWorks
    .howItWorks__row-top.container
        h2.howItWorks__title.title Как это работает
        button.howItWorks__button Узнать больше
    .howItWorks__row-bottom.container
        .howItWorks__item.item
            .item__icon.convenientOrder 
            .item__text Удобный заказ на сайте
        .howItWorks__item.item
            .item__icon.dontOffice
            .item__text Нет необходимости ехать в офис
        .howItWorks__item.item
            .item__icon.hugeSelection
            .item__text Огромный выбор направлений