section.reviews.container 
    h2.reviews__title.title Отзывы
    .reviews__row 
        .reviews__item.item
            img(src=require("../img/reviews/avaGerl.jpg")).item__avatar
            .item__body 
                .item__name Екатерина Вальнова
                .item__review Доброжелательные подсказки на всех этапах помогут правильно заполнить поля и без затруднений купить авиа или ж/д билет, даже если вы заказываете онлайн билет впервые.
        .reviews__item.item
            img(src=require("../img/reviews/avaMean.jpg")).item__avatar
            .item__body 
                .item__name Евгений Стрыкало
                .item__review СМС-сопровождение до посадки Сразу после оплаты ж/д билетов и за 3 часа до отправления мы пришлем вам СМС-напоминание о поездке.
    .reviews__controls-row
        .controls-item.activ
        .controls-item
        .controls-item
        .controls-item
        .controls-item