header.header
  div.logo.header__logo.container Лого
  nav.header-nav.nav 
   ul.nav__row.container
    li.nav__item О нас
    li.nav__item Как это работает
    li.nav__item Отзывы
    li.nav__item Контакты
  .header__body
  div.header__form.search-ticket.container
   h1.search-ticket__title Вся жизнь - путешествие!
   form.search-ticket__form.search-ticket-form
    h3.search-ticket-form__title Направление
    .row 
      input(type="text").search-ticket-form__item
      span.search-ticket-form__icon 
      input(type="text").search-ticket-form__item
    h3.search-ticket-form__title Дата
    .row 
      input(type="date").search-ticket-form__item
      input(type="date").search-ticket-form__item
    button.search-ticket-form__button Найти билеты
  
