header.header
  div.logo.header__logo.container Лого
  nav.header-nav.nav 
   ul.nav__row.container
    li.nav__item О нас
    li.nav__item Как это работает
    li.nav__item Отзывы
    li.nav__item Контакты
       
  
  
