@font-face {
  font-family: Calibri;
  src: url("../fonts/Calibri Regular.eot");
  src: local("☺"), url("../fonts/Calibri Regular.woff") format("woff"),
    url("../fonts/Calibri Regular.ttf") format("truetype"),
    url("../fonts/Calibri Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
